@model DonaldsonMotorsThree.ViewModels.JobViewModel

@{
    ViewBag.Title = "Details";
}

<br/>
<br/>

<div>
    <h4 style="text-align: center">Job Details</h4>
    <hr />
    <div class="form-border">
        <dl class="dl-horizontal">
            <dt>

          
            <dt>
                @Html.DisplayNameFor(model => model.JobType.JobRequirements)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobType.JobRequirements)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.JobType.JobCost)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.JobType.JobCost)
            </dd>

        </dl>
    </div>
</div>
<br/>
<br/>
<p>
    @Html.Partial("_EditButtonPartial", Model.JobType.Id)
    <br/>
    <br/>
    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("ViewJobs", "Home")">

        <span class="glyphicon glyphicon-list"></span>
        <span>Back To List</span>
    </a> 



</p>
