@model IEnumerable<DonaldsonMotorsThree.Models.Job>

@{
    ViewBag.Title = "Jobs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/DonaldsonPhotoHome.jpeg" alt="Donaldson Motors Welcome Page" , width="320" height="250" />
        <h3 style="text-align: center">Tyre Replacement</h3>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/DonaldsonLogo.png" alt="Donaldson Motors Logo" , width="320" height="250" />
        <h3 style="text-align: center">Full MOT</h3>
    </div>
    <div class="col-md-4">
        <img src="~/Content/Images/MotPhoto.jpg" alt="Donaldson Motors photo" , width="320" height="250" />
        <h3 style="text-align: center">Full Oil Change</h3>
    </div>
</div>
<br />
<br />
<h2>Jobs</h2>


<br />
<table class="table" id="jobs">
    <thead>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.JobId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobRequirements)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JobStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PartId)
        </th>
        <th>
            Options
        </th>
    </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="notfirst">
                <td>
                    @Html.DisplayFor(modelItem => item.JobId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobRequirements)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JobStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartId)
                </td>
                <td>
                    <button data-job-id="@item.JobId" class="btn btn-link js-delete">Delete</button>
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function () {

        // Form Datatable using id selector jobs //
            $("#jobs").DataTable();

       //On click function for delete button // 
            $("#jobs").on("click",".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this item?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/jobs/" + button.attr("data-job-id"),
                                    method: "DELETE",
                                    success: function () {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });

        });
    </script>
}


<br/>