@model DonaldsonMotorsThree.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Details";
}


<br/>
<div>
    <h4>Customer Details</h4>
    <hr />
    <div class="form-border">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.AddressLine1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.AddressLine1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.AddressLine2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.AddressLine2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.Town)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.Town)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.Postcode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.Postcode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.TelephoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.TelephoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.VehicleId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Customer.VehicleId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Customer.PaymentId)
            </dt>
    

        </dl>
    </div>
</div>
<br/>
@if (!EnvironmentGlobals.IsCustomer)
{
<p>
    @Html.Partial("_BackToListButtonPartial")
</p>
} else
{
<p>
</p>
}
