@model DonaldsonMotorsThree.ViewModels.BookingFormViewModel

@{
    ViewBag.Title = "ConfirmBooking";
}

<h2>ConfirmBooking</h2>

<div>
    <h4>Booking Details</h4>
    <hr />
    <div class="form-border">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Job.CompletedBy)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Job.CompletedBy)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.PaidFor)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.PaidFor)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DurationInDays)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DurationInDays)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Total)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Total)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.startDate)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.startDate)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DateCompleted)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.CustomerId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CustomerId)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.BookingStatus)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.BookingStatus)
            </dd>

        </dl>
        <fieldset disabled>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Vehicle.RegNumber, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Vehicle.RegNumber, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Vehicle.RegNumber, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Vehicle.Make, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Vehicle.Make, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Vehicle.Make, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Vehicle.Model, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Vehicle.Model, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Vehicle.Model, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Vehicle.EngineSize, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Vehicle.EngineSize, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Vehicle.EngineSize, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Vehicle.Milage, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Vehicle.Milage, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Vehicle.Milage, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Job.JobRequirements, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Job.JobRequirements, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Job.JobRequirements, "", new { @class = "text-danger" })
                </div>
            </div>

        </fieldset>
        
        

    </div>
</div>

