@using DonaldsonMotorsThree.Models
@model IEnumerable<DonaldsonMotorsThree.Models.Booking>

@{
    ViewBag.Title = "GetBookingHistory";
}
<br/>
<h3 style="text-align: center">Booking History</h3>

<br/>
<table class="table booking" id="booking">
    <thead>
        
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BookingId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PaidFor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DurationInDays)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Total)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateCompleted)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Vehicle.VehicleId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BookingStatus)
        </th>
        <th></th>
    </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookingId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaidFor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DurationInDays)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCompleted)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Vehicle.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BookingStatus)
            </td>
            <td>
                @Html.Partial("_TableButtonPartial", new SingleButtonPartial {BookingId = item.BookingId}) 
            </td>
        </tr>
        </tbody>
    }

</table>

@section scripts
{
    <script>
        $(document).ready(function() {
            $('#booking').dataTable();
        });
    </script>
}
