@using DonaldsonMotorsThree.Models

<div class="navbar navbar-inverse navbar-fixed-top navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="pad-bottom" src="~/Content/Images/DonaldsonLogo.png"width="30" height="30" /></a>
            @Html.ActionLink("Donaldson Motors", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">


                <li>@Html.ActionLink("Bookings", "Index", "Booking")</li>



                @if (User.IsInRole("Customer") || User.Identity.IsAuthenticated == false)
                {
                    <li>@Html.ActionLink("Jobs", "CustomerViewJobs", "Home")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Jobs", "ViewJobs", "Home")</li>
                }



                @if (User.IsInRole("Customer") || User.Identity.IsAuthenticated == false)
                {
                    <li>@Html.ActionLink("Stock", "CustomerIndex", "Stock")</li>
                }
                else
                {
                    <li>@Html.ActionLink("Stock", "Index", "Stock")</li>
                }





                @if (User.Identity.IsAuthenticated)
                {
                    <li>@Html.ActionLink("Feedback", "Index", "Review")</li>
                }



                <li>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (User.IsInRole("Administrator"))
                        {
                            @Html.Partial("_AdminManageMenuPartial")

                        }
                        else if (User.IsInRole("Store Manager"))

                        {
                            @Html.Partial("_StoreManageMenuPartial")
                        }
                        else if (User.IsInRole("Garage Manager"))
                        {
                            @Html.Partial("_GarageManageMenuPartial")
                        }
                        else if (User.IsInRole("Mechanic"))
                        {
                            @Html.Partial("_MechanicManageMenu")
                        }
                    }
                </li>


            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
