
<div class="navbar navbar-inverse navbar-fixed-top navbar">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#"><img class="pad-bottom" src="~/Content/Images/DonaldsonLogo.png"width="30" height="30" /></a>
            @Html.ActionLink("Donaldson Motors", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li>@Html.ActionLink("Jobs", "ViewJobs", "Home")</li>
                <li>@Html.ActionLink("Bookings", "Index", "Booking")</li>
                <li>@Html.ActionLink("Reports", "GenerateReport", "Report")</li>
                <li>@Html.ActionLink("Stock", "Index", "Stock")</li>
                <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
            </ul>
            @Html.Partial("_LoginPartial")
        </div>
    </div>
</div>
