@model IEnumerable<DonaldsonMotorsThree.Models.Job>

@{
    ViewBag.Title = "DailyJobsList";
}
<head>

</head>
<h3 style="text-align: center">Daily Jobs List</h3>

<br/>
<br/>

<table class="table" id="joblist">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.JobRequirements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CustomerId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.JobTypeId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CompletedBy)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateCompleted)
            </th>
           
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.JobRequirements)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.JobTypeId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CompletedBy)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateCompleted)
            </td>

        </tr>
    }
    </tbody>
</table>


@section scripts
{
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/v/bs4/jszip-2.5.0/dt-1.10.16/b-1.5.1/b-flash-1.5.1/b-html5-1.5.1/b-print-1.5.1/datatables.min.js"></script>
    <script>
        $(document).ready(function () {


            $('#joblist').DataTable({
                dom: "Bfrtip",
                buttons: ['excel', 'pdf']
            });

        });
    </script>
}
