@using DonaldsonMotorsThree.Models
@model IEnumerable<DonaldsonMotorsThree.Models.CarPart>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Stock</h2>

<br />
<table class="table" id="carparts">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Colour)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderLevel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReorderQuantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SupplierId)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="notfirst">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                    
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CurrentQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SupplierId)
                </td>

            </tr>
        }
    </tbody>

</table>
<br />

@section scripts
{
    <script>
        $(document).ready(function() {


            $("#carparts").DataTable();


        });

    </script>
}


