@using DonaldsonMotorsThree.Models
@model DonaldsonMotorsThree.Models.IndexViewModel

    ViewBag.Title = "Manage";
}
<br />
<br />

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <br />
    <div class="form-border">
        <dl class="dl-horizontal">
            <dt>Password:</dt>
            <dd>
                [
                @if (Model.HasPassword)
                {
                    @Html.ActionLink("Change your password", "ChangePassword")
                }
                else
                {
                    @Html.ActionLink("Create", "SetPassword")
                }
                ]
            </dd>
            <dt>External Logins:</dt>
            <dd>
                @Model.Logins.Count [
                @Html.ActionLink("Manage", "ManageLogins") ]
            </dd>

            @*
                Phone Numbers can used as a second factor of verification in a two-factor authentication system.

                 See <a href="http://go.microsoft.com/fwlink/?LinkId=403804">this article</a>
                    for details on setting up this ASP.NET application to support two-factor authentication using SMS.

                 Uncomment the following block after you have set up two-factor authentication
            *@
            @*
                <dt>Phone Number:</dt>
                <dd>
                    @(Model.PhoneNumber ?? "None")
                    @if (Model.PhoneNumber != null)
                    {
                        <br />
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Change", "AddPhoneNumber")&nbsp;&nbsp;]</text>
                        using (Html.BeginForm("RemovePhoneNumber", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                        {
                            @Html.AntiForgeryToken()
                            <text>[<input type="submit" value="Remove" class="btn-link" />]</text>
                        }
                    }
                    else
                    {
                        <text>[&nbsp;&nbsp;@Html.ActionLink("Add", "AddPhoneNumber")
                    }
                </dd>
            *@
        </dl>
        <dl class="dl-horizontal">
            <dt class="control-label row">
                @Html.DisplayNameFor(model => model.Customer.FirstName)
            </dt>

            <dd class="control-label row">
                @Html.DisplayFor(model => model.Customer.FirstName)
            </dd>

            <dt class="control-label row">
                @Html.DisplayNameFor(model => model.Customer.LastName)
            </dt>

            <dd class="control-label row">
                @Html.DisplayFor(model => model.Customer.LastName)
            </dd>

            <dt class="control-label row">
                @Html.DisplayNameFor(model => model.Customer.AddressLine1)
            </dt>

            <dd class="control-label row">
                @Html.DisplayFor(model => model.Customer.AddressLine1)
            </dd>

            <dt class="control-label row">
                @Html.DisplayNameFor(model => model.Customer.AddressLine2)
            </dt>

            <dd class="control-label row">
                @Html.DisplayFor(model => model.Customer.AddressLine2)
            </dd>

            <dt class="control-label row">
                @Html.DisplayNameFor(model => model.Customer.Town)
            </dt>

            <dd class="control-label row">
                @Html.DisplayFor(model => model.Customer.Town)
            </dd>

            <dt class="control-label row">
                @Html.DisplayNameFor(model => model.Customer.Postcode)
            </dt>

            <dd class="control-label row">
                @Html.DisplayFor(model => model.Customer.Postcode)
            </dd>

            <dt class="control-label row">
                @Html.DisplayNameFor(model => model.Customer.TelephoneNumber)
            </dt>

            <dd class="control-label row">
                @Html.DisplayFor(model => model.Customer.TelephoneNumber)
            </dd>

            <dt class="control-label row">
                @Html.DisplayNameFor(model => model.Customer.Id)
            </dt>

            <dd class="control-label row">
                @Html.DisplayFor(model => model.Customer.Id)
            </dd>

            <dt class="control-label row">
                @Html.DisplayNameFor(model => model.Customer.Email)
            </dt>

            <dd class="control-label row">                

                @Html.DisplayFor(model => model.Customer.Email)
            </dd>

        </dl>

    </div>
</div>
<br/>
<div class="col-md-10">
    <a type="button" class="btn btn-primary btn-sm" href="@Url.Action("Edit","Customer", new {id=Model.Customer.Id})">
        Edit Details
        <span class="glyphicon glyphicon-pencil"></span>
    </a>
    &nbsp;&nbsp;
    <a type="button" class="btn btn-primary btn-sm btn-warning"
       onclick="javascript: deleteCustomer(this, '@Model.Customer.Id');">
        Unregister
        <span class="glyphicon glyphicon-warning-sign"></span>
    </a>
</div>


@section scripts
{
    <script>
        function deleteCustomer(button, custId)
        {
            alert(custId);
            bootbox.confirm("Are you sure you want to unregister from Donaldson Motors?",
                function(result) {
                    if (result) {
                        $.ajax({
                            url: "/api/customers/" + custId.toString(),
                            method: "DELETE",
                            success: function() {
                                button.closest('tr').remove();
                            }
                        });
                    }
                });
        }
    </script>
}
