@model IEnumerable<DonaldsonMotorsThree.Models.CarPart>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br/>
<h2>Stock</h2>

<br/>
<table class="table" id="carparts">
    <thead>
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Colour)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderLevel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ReorderQuantity)
        </th>
        <th>
            Options
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="notfirst">
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Colour)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderLevel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReorderQuantity)
                </td>
                <td>
                    <button data-carpart-id="@item.PartId" class="btn btn-link js-delete">Delete</button>
                    <button class="btn btn-link">  @Html.ActionLink("Edit", "Edit", new { id = item.PartId })</button>
                    
                    
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts
{
    <script>
        $(document).ready(function() {


            $("#carparts").DataTable();

            $("#carparts").on("click",
                ".js-delete",
                function() {
                    var button = $(this);

                    bootbox.confirm("Are you sure you want to delete this item?",
                        function(result) {
                            if (result) {
                                $.ajax({
                                    url: "/api/carparts/" + button.attr("data-carpart-id"),
                                    method: "DELETE",
                                    success: function() {
                                        button.parents("tr").remove();
                                    }
                                });
                            }
                        });
                });

        });




    </script>
}


