@model DonaldsonMotorsThree.Models.Staff

@{
    ViewBag.Title = "Details";
}

<br/>

<div>
    <h3 style="text-align: center">Staff Member Details</h3>
    <hr />
    <div class="form-border">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AddressLine1)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressLine1)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AddressLine2)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AddressLine2)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Town)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Town)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Postcode)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Postcode)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.TelephoneNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.TelephoneNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.UserName)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.UserName)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Dob)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Dob)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MobileNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MobileNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.MedContactDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.MedContactDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.EmergContactDetails)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EmergContactDetails)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.NiNumber)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NiNumber)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.AreaOfExpertise)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.AreaOfExpertise)
            </dd>

        </dl>
    </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        <br/>
        <div class="form-actions no-color">
            @Html.Partial("_BackToListButtonPartial")
        </div>
    }
</div>
